body {
	margin: 10px 0;
	font-family: sans-serif;
}
.app {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	direction: ltr;
	display: inline-block;
}
.app img {
	width: 64px;
	height: 64px;
}