* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	margin: 0;
	background-color: #607B8B;
	cursor: default;
	font-family: sans-serif;
	height: 0;
}
body:before,
#sidebar:before,
.window:before,
.hud {
	background-attachment: fixed;
}
body:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1000;
}
#windows {
	position: absolute;
	right: 0;
	bottom: 0;
}
.window {
	width: 800px;
	height: 600px;
	border-radius: 7px;
	position: absolute !important;
	top: 25px;
	left: 100px;
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid transparent;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	animation: 0.2s openWindow;
}
.window:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: -1;
	border-radius: 7px;
}
.window.transitioning {
	transition: left 0.2s, right 0.2s, top 0.2s, bottom 0.2s, width 0.2s, height 0.2s;
}
.window.closing {
	animation: 0.2s closeWindow forwards;
}
@keyframes openWindow { from { transform:scale(0.75); opacity: 0; } to { transform:scale(1); opacity: 1; }  }
@keyframes closeWindow { from { transform:scale(1); opacity: 1; } to { transform:scale(0.75); opacity: 0; }  }
.window .titlebar {
	height: 25px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 0 5px;
}
.window.focused {
	background-color: rgba(255, 255, 255, .6);
}
.window .titlebar button {
	border: 1px solid transparent;
	border-radius: 7px;
	width: 18px;
	height: 18px;
	margin-top: 3px;
	float: left;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
}
.window .titlebar .close {
	background-image: url(close.png);
}
.window .titlebar .minimize {
	background-image: url(minimize.png);
}
.window.minimized .titlebar .minimize {
	background-image: url(unminimize.png);
}
.window.minimized .titlebar .maximize {
	display: none;
}
.window .titlebar .maximize {
	background-image: url(maximize.png);
}
.window.maximized .titlebar .maximize {
	background-image: url(unmaximize.png);
}
.window .titlebar button:hover {
	border-color: rgba(204, 204, 204, 0.5);
	background-color: rgba(245, 245, 245, .5) !important;
}
.window .titlebar button:focus {
	outline: 1px solid gray;
	-moz-outline-radius: 4px;
	outline: -webkit-focus-ring-color auto 5px;
}
.window .titlebar button::-moz-focus-inner {
	border: 0;
}
.window .titlebar .tabbar {
	display: inline-block;
	white-space: nowrap;
	max-width: calc(100% - 130px);
	overflow: hidden;
	z-index: 1;
	position: relative;
	margin-left: 20px;
}
.window .titlebar .tabbar:hover {
	overflow-x: auto;
}
.window .titlebar .tabbar .tabtitlebar {
	color: #fff;
	background: rgba(255,255,255,0.2);
	display: inline-block;
	height: 25px;
	margin-left: 6px;
	line-height: 27px;
	padding: 0 10px;
	cursor: default;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	font-weight: 100;
}
.window .titlebar .addtab {
	color: #ffffff;
	display: inline-block;
	height: 25px;
	margin-left: 8px;
	line-height: 23px;
	cursor: default;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	font-weight: 100;
	font-size: 20px;
}
.window .titlebar .tabbar .tabtitlebar:first-child {
	margin-left: 0;
}
.window .titlebar .tabbar .tabtitlebar.focused {
	background-color: white;
	color: #000;
}
.window .titlebar .icon {
	float: right;
	margin-top: 6px;
	height: 16px;
}
.window .tabs {
	height: calc(100% - 25px);
}
.window .tab {
	width: 100%;
	height: 100%;
	left: -100000px;
	position: absolute;
	
	/* Safari Mobile: allow scrolling in apps.
	 * By default, Safari Mobile resizes iframes to fit their contents.
	 * To "counteract" this, we make the iframe's container scrollable.
	 * (http://stackoverflow.com/questions/23083462#23123845)
	 */
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.window .tab.focused {
	left: 0;
	position: relative;
}
.window iframe {
	width: 100%;
	height: 100%;
	border: 0;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: white;
	position: absolute;
	left: 0;
}
.hud {
	position: absolute;
	border-radius: 7px;
	opacity: .7;
}
.window.maximized, .hud {
	top: 0 !important;
	height: 100% !important;
}
.window.maximized.maximized-max, .hud-max {
	left: 0 !important;
	width: 100% !important;
}
.window.maximized.maximized-left, .hud-left {
	left: 0 !important;
	width: 50% !important;
}
.window.maximized.maximized-right, .hud-right {
	left: 50% !important;
	width: 50% !important;
}
.window.maximized:not(.minimized) {
	border-radius: 0;
	border-top: none;
	border-bottom: none;
	box-shadow: none;
}
.window.maximized::before {
	border-radius: 0;
}
.window.minimized.minimized { /* same specificity as .maximized above */
	top: -25px !important;
	width: 250px !important;
	max-height: 25px;
	overflow: hidden;
	background-color: white;
}
.window.maximized .titlebar {
	border-radius: 0;
}
.window.minimized .titlebar .tabbar {
	max-width: calc(100% - 112px);
}
.window.minimized iframe {
	display: none;
}
.window.minimized.hover {
	z-index: 1000 !important;
	max-height: 120px;
}
.window.minimized.hover iframe {
	display: block;
	transform: scale(0.8);
	transform-origin: 0 0;
	-webkit-transform: scale(0.8);
	-webkit-transform-origin: 0 0;
	width: 125%;
	height: 125%;
	margin-bottom: -40px;
}
.window.minimized .ui-resizable-handle {
	display: none !important;
}
.ui-resizable-handle {
	z-index: 0 !important;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	pointer-events: none;
}