#bar {
	background-color: rgba(0, 0, 0, .25);
	z-index: -1000;
	position: absolute;
	width: 100%;
	height: 25px;
}
.barButton {
	color: white;
	cursor: pointer;
	font-weight: bold;
}
#toggleApps {
	padding: 3px 0;
	height: 25px;
	width: 100px;
	text-align: center;
	display: inline-block;
}
#togglePowerMenu {
	float: right;
	padding: 4px 10px 5px;
}
.barMenu {
	display: none;
	z-index: 1000;
	position: absolute;
	background: white;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0px 0px 5px #888;
	top: 34px;
}
#apps {
	left: 10px;
}
#powerMenu {
	right: 5px;
}
.barMenu:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 11px solid transparent;
	border-bottom-color: white;
	top: -22px;
	pointer-events: none;
}
#apps:after {
	left: 12px;
}
#powerMenu:after {
	right: 7px;
}
.barMenu > div {
	cursor: pointer;
}
.barMenu > div > img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

/*
rgba(96, 123, 139, 1)	Background
rgba(86, 110, 124, 1)	Sidebar color we want
rgba(76,  97, 109, .5)	Sidebar css color below
*/
#sidebar {
	width: 100px;
	overflow: auto;
	background: rgba(76, 97, 109, .5);
	direction: rtl; /* Move scrollbar to the left. */
	position: absolute;
	z-index: 900;
}
#sidebar .app {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	direction: ltr;
	color: #E6E6E6;
}
#sidebar .app img {
	width: 64px;
	height: 64px;
}