#togglePowerMenu {
	color: white;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
.powerMenu {
	display: none;
	z-index: 1000;
	position: absolute;
	background: lightgrey;
	padding: 10px;
	border-radius: 7px;
	right: 0;
}
.powerMenu > div {
	cursor: pointer;
}
.powerMenu > :focus {
	outline-color: darkgrey;
}