.window {
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
	background-color: transparent !important;
	pointer-events: none;
}
.window * {
	pointer-events: all;
}
.window .titlebar {
	height: 50px;
	width: 120px;
	position: relative;
	background-color: #ECECEC;
	box-shadow: 0px 0px 5px #888;
}
.window.focused .titlebar {
	background-color: #D4E4EC;
}
.window:not(.minimized) .titlebar:before, .window:not(.minimized) .titlebar:after {
	content: "";
	width: 7px;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: 100%;
}
.window:not(.minimized) .titlebar:before {
	background-color: #ECECEC;
}
.window:not(.minimized).focused .titlebar:before {
	background-color: #D4E4EC;
}
.window:not(.minimized) .titlebar:after {
	background-color: #ECECEC;
	border-bottom-left-radius: 7px;
	box-shadow: inset 7px 0 5px -7px #888;
}
.window:not(.minimized):nth-of-type(4):nth-last-of-type(2) .titlebar:after, /* Firefox */
.window:not(.minimized):nth-of-type(5):nth-last-of-type(1) .titlebar:after { /* Chrome */
	background-color: #485C68;
}
.window .titlebar button {
	margin-top: 16px;
	margin-left: 10px;
}
.window .titlebar .maximize {
	display: none;
}
.window .titlebar .tabbar .tabtitlebar, .window .titlebar .addtab {
	display: none;
}
.window .titlebar .icon {
	height: 32px;
	position: absolute;
	right: 13px;
	margin-top: 10px;
}
.window .tabs {
	height: calc(100% - 50px);
}
.window iframe {
	border-top-right-radius: 7px;
}
.window.minimized.minimized {
	width: 60px !important;
	max-height: 50px;
}
.window.minimized .titlebar {
	width: 100%;
}
.window.minimized .titlebar .close, .window.minimized .titlebar .minimize, .window.minimized .titlebar .addtab {
	visibility: hidden;
}
#bar {
	height: 50px;
}
#toggleApps {
	display: none;
}
#togglePowerMenu {
	padding: 17px;
}
.barMenu {
	top: 54px;
}
.barMenu > div > img {
	width: 32px;
	height: 32px;
}